{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if show_login == 1 %} class="active"{% endif %}><a href="{{ url_for('.test_login') }}">TEST</a></li>
        <li{% if show_login == 2 %} class="active"{% endif %}><a href="{{ url_for('.sso_login') }}">Eve SSO</a></li>
        <li{% if show_login == 3 %} class="active"{% endif %}><a href="{{ url_for('.local_login') }}">Local account</a></li>

    </ul>
    <br>
    {% if show_login == 1 %}
    {{ wtf.quick_form(form) }}
    {% endif %}
    {% if show_login == 2 %}
        NYI
    {% endif %}
    {%  if show_login == 3 %}
    {{ wtf.quick_form(form) }}
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
    {% endif %}
</div>
{% endblock %}
